.mainContent {
    margin-top: 60px;
}

.repository-search-container .mainTitle {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.repository-search-container .messages-container {
    text-align: center;
    margin: 10px;
}

.repository-box {
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
}

    .repository-box .title {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px;
        width: 85%;
        margin-left: 5%;
    }

    .repository-box .img-box img {
        width: 60%;
    }

    .repository-box .bookmark-btn {
        font-size: 22px;
        position: absolute;
        top: 23px;
        right: 26px;
        cursor: pointer;
    }

        .repository-box .bookmark-btn.active {
            color: #f3c41b;
        }
